body{
    margin: 0;
    min-height: 100vh;
    overflow:auto;
    
}
#app{
    
    margin-left: auto;
    margin-right: auto;
}
main{
    min-height: 100vh;
}
h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.student{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.student > *{
    width: 100%;
    min-height: 100%;
    border: 1px solid black;
}
.info p{
    margin: 10px;
}
