
.student{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.student > *{
    width: 100%;
    min-height: 100%;
    border: 1px solid black;
}
.info p{
    margin: 10px;
}
